<!-- card section -->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-mb-4">
                    <img class="card-img-top" src="../../public/images/subHeader.jpg" alt="pictures">
                    <div class="card-body">
                        <div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti
                            temporibus quis optio, nulla dolorem ad dolorum pariatur numquam enim deserunt?</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group my-2">
                            <button class="btn btn-sm btn-outline-primary">Read</button>
                            <button class="btn btn-sm btn-outline-primary">Views</button>
                        </div>
                        <small>10 min</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- card section Ends -->