 <!-- header section -->

 <head>
     <div class="bg-dark collapse" id="topbar">
         <div class="container">
             <div class="row">
                 <div class="col-sm-8 py-4">
                     <h4 class="text-white">MS | AH</h4>
                     <div class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
                         error.</div>
                 </div>
                 <div class="col-sm-4 py-4">
                     <h4 class="text-white">
                         follow us
                     </h4>
                     <a href="#" class="btn px-2 text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="facebook">
                         <i class="fa fa-facebook" aria-hidden="true">
                         </i>
                     </a>
                     <a href="#" class="btn px-2 text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="twitter">
                         <i class="fa fa-twitter" aria-hidden="true">
                         </i>
                     </a>
                     <a href="#" class="btn px-2 text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="instagram">
                         <i class="fa fa-instagram" aria-hidden="true">
                         </i>
                     </a>
                     <p>
                         <a href="/login" class="btn px-2 text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="sign in">
                             <i class="fa fa-sign-in" aria-hidden="true"></i>
                             </i>
                         </a>
                         <a href="/signup" class="btn px-2 text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="sign up">
                            <i class="fa fa-user-plus"></i>
                         </a>
                     </p>
                 </div>
             </div>
         </div>
     </div>
     <div class="navbar sticky-top navbar-dark bg-dark">
         <div class="container">
             <a href="#" class="navbar-brand">
                 <strong style="font-size: 50px;">MS | AH</strong>
             </a>
             <a href="#"><button class="navbar-toggler" data-toggle="collapse" data-target="#topbar">
                     <span class="navbar-toggler-icon"></span>
                 </button></a>
         </div>
     </div>
     <div class="container py-3">
         <div class="row">
             <div class="col-4 float-start d-flex">
                 <a href="/" class="btn btn-outline-success mr-2">Home</a>
             </div>
             <div class="col-8">
                 <form action="#" method="POST" class="d-flex float-end">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success mx-2" type="submit">Search</button>
                 </form>
             </div>
         </div>
     </div>
 </head>
 <!-- header section Ends -->