<!-- main section -->
<div class="jumbotron text-center py-5">
    <div class="container">
                <h1 class="display-3 my-3">This is perfect place for learning.</h1>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aut dolores
                    repudiandae. Asperiores nihil quas inventore dignissimos, reprehenderit quos beatae?
                </p>
                <a href="#course" id="course" class="btn btn-success my-2">GET START</a>
    </div>
</div>
        <!-- main section Ends -->