<div class="container">
        <div class="crad py-3">
            <div class="card-body">
                <div class="row">
                <div class="col-lg-4">
                    <ul type="none">
                        <li>
                            <a href="#" style="text-decoration: none;">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">My Post</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">Edit Profile</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">change password</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">log out</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                </div>
            </div>
        </div>
    </div>
</div>