<div class="container px-lg-5 py-lg-4 px-sm-0">
    <div class="card px-lg-5 px-sm-0">
        <div class="card-body px-lg-5  px-sm-0">
            <div class="px-lg-5">
                <div class="px-lg-5">
                    <div class="px-lg-5">
                        <h3 class="py-3">Create A New Account</h3>
                        <label for="username">Username</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <label for="username">Email</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email" aria-label="email"
                                aria-describedby="basic-addon1">
                        </div>
                        <label for="username">Password</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            <input type="text" class="form-control" placeholder="Password" aria-label="password"
                                aria-describedby="basic-addon1">
                        </div>
                        <label for="username">Confirm Password</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            <input type="text" class="form-control" placeholder="Confirm Password" aria-label="confirm_password"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="submit" class="form-control btn btn-primary" id="signupId" value="sign up">
                        </div>
                        <p style="text-decoration: none;">Already a Account ? <a href="/login">Log in</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>